<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isUserLogged">
      <ion-button (click)="onBackClicked()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'RECIPE_PAGE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onEditClicked()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Title-->
  <h1 class="ion-padding" *ngIf="recipe?.name">{{ recipe?.name }}</h1>
  <h2 class="ion-padding" *ngIf="recipe?.type">{{ 'COMMON.RECIPE_TYPES.' + recipe?.type | translate }}</h2>
  <p class="ion-padding" *ngIf="recipe?.type">{{ recipe?.description }}</p>
  <!-- Metadata -->
  <ion-item lines="full" *ngIf="recipe?.time?.value">
    <ion-icon name="timer" slot="start"></ion-icon>
    <ion-label>{{ 'COMMON.TIME' | translate }}</ion-label>
    <ion-label>{{ recipe?.time?.value }}{{ 'COMMON.TIME_UNITS.' + recipe?.time?.unit | translate }}</ion-label>
  </ion-item>
  <ion-item lines="full" *ngIf="recipe?.difficulty">
    <ion-icon name="podium" slot="start"></ion-icon>
    <ion-label>{{ 'COMMON.DIFFICULTY' | translate }}</ion-label>
    <ion-label>{{ 'COMMON.DIFFICULTY_LEVEL.' + recipe?.difficulty | translate }}</ion-label>
  </ion-item>
  <!-- Ingredients-->
  <h3 class="ion-padding-horizontal" *ngIf="recipe?.ingredients">
    {{ 'COMMON.INGREDIENTS' | translate }}
  </h3>
  <ion-list lines="inset" inset="true">
    <ion-item *ngFor="let ingredient of recipe?.ingredients">
      <ion-label *ngIf="ingredient.quantity.value" class="quantity-label">
        {{ ingredient.quantity.value }}{{ 'COMMON.WEIGHT_UNITS.' + ingredient.quantity.unit | translate }}
      </ion-label>
      <ion-label *ngIf="!ingredient.quantity.value" class="quantity-label">
        {{ 'COMMON.MISSING_QUANTITY' | translate }}
      </ion-label>
      <ion-label>{{ ingredient.name }}</ion-label>
    </ion-item>
  </ion-list>
  <!-- Steps-->
  <h3 class="ion-padding-horizontal" *ngIf="recipe?.steps">
    {{ 'COMMON.STEPS' | translate }}
  </h3>
  <ion-card *ngFor="let step of recipe?.steps; let i = index">
    <img *ngIf="step.imageUrl" [src]="step.imageUrl" />
    <ion-card-header>
      <ion-card-title>{{ i+1 }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ step.text }}
    </ion-card-content>
  </ion-card>

  <ion-item class="ion-padding-top" lines="none" *ngIf="recipe" (click)="onDeleteClicked()">
    <ion-label color="danger">{{ 'RECIPE_PAGE.DELETE_BUTTON' | translate }} </ion-label>
  </ion-item>
  
</ion-content>

<ion-footer class="ion-padding" *ngIf="isUserLogged && recipe">
  <ion-toolbar>
    <ion-button expand="block" (click)="onAddToPlanningClicked()">
      {{ 'RECIPE_PAGE.ADD_TO_PLANNING_BUTTON' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>