<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'RECIPE_LIST_PAGE.TITLE' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'RECIPE_LIST_PAGE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (displayRecipes() !== undefined) {
  <h2 class="ion-padding">{{ 'RECIPE_LIST_PAGE.YOURS' | translate }}</h2>
  @if (displayRecipes()!.length === 0) {
  <ion-label class="ion-padding"> {{ 'RECIPE_LIST_PAGE.NO_DATA' | translate }} </ion-label>
  } @else {
  <ion-list lines="inset" inset="true">
    @for (recipe of displayRecipes(); track trackByRecipe($index, recipe)) {
    <ion-item-sliding>
      <ion-item button (click)="onRecipeClicked(recipe)">
        <ion-label>
          {{ recipe.name }} @if (recipe.wip) {
          <ion-icon name="construct-outline" color="warning"></ion-icon>
          }
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="onAddToPlanningClicked(recipe)">
          {{ 'COMMON.PLANNINGS.ADD_TO_PLANNING.BUTTON' | translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>
  } } @if (isSocialEnabled && displayOthersRecipes() !== undefined) {
  <h2 class="ion-padding">{{ 'RECIPE_LIST_PAGE.OTHERS' | translate }}</h2>
  @if (displayOthersRecipes()!.length === 0) {
  <ion-label class="ion-padding"> {{ 'RECIPE_LIST_PAGE.NO_DATA_OTHERS' | translate }} </ion-label>
  } @else {
  <ion-list lines="inset" inset="true">
    @for (recipe of displayOthersRecipes(); track trackByRecipe($index, recipe)) {
    <ion-item-sliding>
      <ion-item button (click)="onRecipeClicked(recipe)">
        <ion-label>
          {{ recipe.name }} @if (recipe.wip) {
          <ion-icon name="construct-outline" color="warning"></ion-icon>
          }
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="onAddToPlanningClicked(recipe)">
          {{ 'COMMON.PLANNINGS.ADD_TO_PLANNING.BUTTON' | translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>
  } }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="bar-container">
      <ion-searchbar (ionChange)="onSearchChange($event)"></ion-searchbar>
      <ion-button id="click-trigger" fill="clear" class="filter-button">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <p class="ion-padding-horizontal">{{ 'RECIPE_LIST_PAGE.FILTERS' | translate }}</p>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div>
              @for (recipeTypeFilter of recipeTypeFilters(); track trackByRecipeType($index,
              recipeTypeFilter)) {
              <ion-chip
                (click)="onTypeClicked(recipeTypeFilter)"
                [class.disabled]="!recipeTypeFilter.enabled"
              >
                {{ 'COMMON.RECIPE_TYPES.' + recipeTypeFilter.type | translate }}
              </ion-chip>
              }
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-button fill="clear" (click)="onAddClicked()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
