ion-avatar {
  float: right;
}

ion-card {
  ion-card-content {
    padding: 0;
    ion-item {
      text-align: center;
      --background: transparent;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 90%;
  .settings-list {
    margin-top: auto;
  }
}
