<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'SETTINGS_PAGE.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'SETTINGS_PAGE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ion-card *ngIf="userData">
      <ion-card-header>
        <ion-avatar>
          <img [src]="userData.avatar_url" />
        </ion-avatar>
        <ion-card-title>{{ userData.name }}</ion-card-title>
        <ion-card-subtitle>{{ userData.email }}</ion-card-subtitle>
      </ion-card-header> 
      <ion-button fill="clear" (click)="onLogoutClicked()">
        {{ 'SETTINGS_PAGE.LOGOUT_BUTTON' | translate }}
      </ion-button>
    </ion-card>
  
    <ion-list class="settings-list">
      <ion-item lines="none" (click)="onDeleteClicked()">
        <ion-label color="danger">
          {{ 'SETTINGS_PAGE.DELETE_USER_BUTTON' | translate }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
