.quantity-label {
  max-width: 20% !important;
}

.macro-label {
  max-width: 20% !important;
  text-align: right;
  font-size: 0.8em;
  color: var(--ion-color-medium);
}

.brand-label {
  font-size: 0.85em;
  color: var(--ion-color-medium);
  font-style: italic;
}
