<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBackClicked()">
        <ion-icon
          slot="icon-only"
          [name]="isUserLogged() ? 'chevron-back-outline' : 'home-outline'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'RECIPE_PAGE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      @if (recipe() && !isMine() && !recipe()!.isAdded && isUserLogged()) {
      <ion-button (click)="onSaveClicked()">
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button>
      } @if (recipe() && !isMine() && recipe()!.isAdded && isUserLogged()) {
      <ion-button (click)="onUnsaveClicked()">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
      } @if (isMine() && isUserLogged()) {
      <ion-button (click)="onEditClicked()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      }
      <ion-button (click)="onShareClicked()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Title-->
  @if (recipe()?.name) {
  <h1 class="ion-padding-horizontal">{{ recipe()?.name }}</h1>
  } @if (recipe()?.userName) {
  <p class="ion-padding-horizontal">
    {{ 'RECIPE_PAGE.OWNER' | translate }} @if (!isMine()) {
    <a (click)="onOwnerClicked()">{{ recipe()?.userName }}</a>
    } @if (isMine()) {
    <a (click)="onSelfClicked()">{{ recipe()?.userName }}</a>
    }
  </p>
  } @if (recipe()?.variantId) {
  <p class="ion-padding-horizontal">
    {{ 'RECIPE_PAGE.VARIANT' | translate }}
    <a (click)="onVariantClicked()"> {{ recipe()?.variantName || 'COMMON.RECIPE' | translate }} </a>
  </p>
  } @if (recipe()?.description) {
  <p class="ion-padding">{{ recipe()?.description }}</p>
  }
  <!-- Metadata -->
  @if (recipe()?.type) {
  <ion-item lines="full">
    <ion-icon name="nutrition" slot="start"></ion-icon>
    <ion-label>{{ 'COMMON.RECIPE_TYPE' | translate }}</ion-label>
    <ion-label>{{ 'COMMON.RECIPE_TYPES.' + recipe()?.type | translate }}</ion-label>
  </ion-item>
  } @if (recipe()?.cuisine) {
  <ion-item lines="full">
    <ion-icon name="earth-outline" slot="start"></ion-icon>
    <ion-label>{{ 'COMMON.CUISINE' | translate }}</ion-label>
    <ion-label>{{ 'COMMON.CUISINE_TYPES.' + recipe()?.cuisine | translate }}</ion-label>
  </ion-item>
  } @if (recipe()?.time?.value) {
  <ion-item lines="full">
    <ion-icon name="timer" slot="start"></ion-icon>
    <ion-label>{{ 'COMMON.TIME' | translate }}</ion-label>
    <ion-label
      >{{ recipe()?.time?.value }} {{ 'COMMON.TIME_UNITS.' + recipe()?.time?.unit | translate
      }}</ion-label
    >
  </ion-item>
  } @if (recipe()?.difficulty) {
  <ion-item lines="full">
    <ion-icon name="podium" slot="start"></ion-icon>
    <ion-label>{{ 'COMMON.DIFFICULTY' | translate }}</ion-label>
    <ion-label>{{ 'COMMON.DIFFICULTY_LEVEL.' + recipe()?.difficulty | translate }}</ion-label>
  </ion-item>
  }
  <!-- Ingredients-->
  @if (recipe()?.ingredients) {
  <h3 class="ion-padding-horizontal">{{ 'COMMON.INGREDIENTS' | translate }}</h3>
  } @if (recipe()) {
  <ion-item>
    <ion-label>{{ 'RECIPE_PAGE.SERVINGS' | translate }}</ion-label>
    <ion-input
      [value]="currentMultiplier()"
      (ionChange)="onMultiplierChange($event)"
      type="number"
      min="1"
    ></ion-input>
  </ion-item>
  }
  <ion-list lines="inset" inset="true">
    @for (ingredient of recipe()?.ingredients; track trackByIngredient($index, ingredient)) {
    <ion-item>
      @if (ingredient.quantity.value) {
      <ion-label class="quantity-label">
        {{ ingredient.quantity.value * multiplier() }}{{ 'COMMON.WEIGHT_UNITS.' +
        ingredient.quantity.unit | translate }}
      </ion-label>
      } @else {
      <ion-label class="quantity-label"> {{ 'COMMON.MISSING_QUANTITY' | translate }} </ion-label>
      }
      <ion-label>{{ ingredient.name }}</ion-label>
    </ion-item>
    }
  </ion-list>
  <!-- Steps-->
  @if (recipe()?.steps) {
  <h3 class="ion-padding-horizontal">{{ 'COMMON.STEPS' | translate }}</h3>
  } @for (step of recipe()?.steps; track trackByStep($index)) {
  <ion-card>
    @if (step.imageUrl) {
    <img [src]="step.imageUrl" />
    }
    <ion-card-header>
      <ion-card-title>{{ $index + 1 }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ step.text }} </ion-card-content>
  </ion-card>
  } @if (recipe() && isMine() && isUserLogged()) {
  <ion-item class="ion-padding-top" lines="none" (click)="onDeleteClicked()">
    <ion-label color="danger">{{ 'RECIPE_PAGE.DELETE_BUTTON' | translate }} </ion-label>
  </ion-item>
  }
</ion-content>

@if (recipe() && isUserLogged()) {
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button expand="block" (click)="onAddToPlanningClicked()">
      {{ 'COMMON.PLANNINGS.ADD_TO_PLANNING.BUTTON' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
}
