<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'PLANNING_PAGE.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'PLANNING_PAGE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="ion-margin-top">
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ng-container *ngFor="let planned of planning?.recipes">
        <ion-item-sliding>
          <ion-item [lines]="planned.recipe ? 'inset' : 'none'">
            <ion-label *ngIf="!planned.id" class="delimiter">{{ 'COMMON.WEEK_DAYS.' + planned.day | translate }}</ion-label>
            <ion-label *ngIf="planned.id">{{ planned?.recipe?.name }}</ion-label>
            <ion-reorder slot="end" *ngIf="planned.id"></ion-reorder>
          </ion-item>
          <ion-item-options side="end" *ngIf="planned.id">
            <ion-item-option color="danger" (click)="onRemoveRecipeClicked(planned)">
              {{ 'PLANNING_PAGE.DELETE_RECIPE_BUTTON' | translate }}
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ion-reorder-group>
  </ion-list>

</ion-content>

<ion-footer *ngIf="planning">
  <ion-toolbar>
    <div class="bar-container">
      <ion-button fill="clear" (click)="onPlanningBackClicked()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-label>{{ planning.startDate | date }}</ion-label>
      <ion-button fill="clear" (click)="onPlanningForwardClicked()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
