<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBackClicked()">
        <ion-icon slot="icon-only" [name]="isUserLogged ? 'chevron-back-outline' : 'home-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'USER_PAGE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onShareClicked()">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-avatar>
        <img [src]="user.avatar_url" />
      </ion-avatar>
      <ion-card-title>{{ user.name }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
    <ng-container *ngIf="isUserLogged">
      <ion-button *ngIf="!user.followed" fill="clear" color="primary" (click)="onFollowClicked()">
        {{ 'USER_PAGE.ADD_FOLLOW' | translate }}
      </ion-button>
      <ion-button *ngIf="user.followed" fill="clear" color="danger" (click)="onUnfollowClicked()">
        {{ 'USER_PAGE.DELETE_FOLLOW' | translate }}
      </ion-button>
    </ng-container>
  </ion-card>

  <ng-container *ngIf="user?.recipes != undefined">
    <h2 class="ion-padding">
      {{ 'USER_PAGE.RECIPE_LIST' | translate }}
    </h2>
    <ion-label class="ion-padding" *ngIf="user?.recipes?.length == 0">
      {{ 'USER_PAGE.NO_DATA' | translate }}
    </ion-label>
    <ion-list lines="inset" inset="true" *ngIf="user?.recipes?.length != 0">
      <ion-item-sliding *ngFor="let recipe of user?.recipes">
        <ion-item button (click)="onRecipeClicked(recipe)">
          <ion-label>{{ recipe.name }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="onAddClicked(recipe)">
            {{ 'USER_PAGE.ADD_RECIPE' | translate }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

</ion-content>
