ion-avatar {
  float: right;
}

ion-card {
  ion-card-content {
    padding: 0;
    ion-item {
      --background: transparent;
    }
    .stats-row {
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 8px 16px;
      ion-label {
        flex: 1;
        min-width: 0;
        h3 {
          font-size: 0.75em;
        }
        p {
          font-weight: 600;
          font-size: 1em;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 90%;
  .settings-list {
    margin-top: auto;
  }
}
