<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'LOGIN_PAGE.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-item>
          <ion-input
            [label]="'LOGIN_PAGE.EMAIL' | translate"
            labelPlacement="stacked"
            type="email"
            inputmode="email"
            [placeholder]="'LOGIN_PAGE.EMAIL' | translate"
            formControlName="email">
          </ion-input>
          @if ((email.dirty || email.touched) && email.errors) {
            <ion-note slot="error">
              {{ 'LOGIN_PAGE.EMAIL_ERROR' | translate }}
            </ion-note>
          }
        </ion-item>
        <ion-item>
          <ion-input
            [label]="'LOGIN_PAGE.PASSWORD' | translate"
            labelPlacement="stacked"
            type="password"
            [placeholder]="'LOGIN_PAGE.PASSWORD' | translate"
            formControlName="password">
          </ion-input>
          @if ((password.dirty || password.touched) && password.errors) {
            <ion-note slot="error">
              {{ 'LOGIN_PAGE.PASSWORD' | translate }}
            </ion-note>
          }
        </ion-item>
        <ion-button type="submit" expand="block" strong="true" [disabled]="!credentials.valid">
          {{ 'LOGIN_PAGE.LOGIN_BUTTON' | translate }}
        </ion-button>

        <div class="ion-margin-top">
          <ion-button
            type="button"
            expand="block"
            color="primary"
            fill="outline"
            routerLink="register">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            {{ 'LOGIN_PAGE.REGISTER_BUTTON' | translate }}
          </ion-button>
          <ion-button type="button" expand="block" color="secondary" (click)="onForgotPasswordCLicked()">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            {{ 'LOGIN_PAGE.FORGOT_PASSWORD_BUTTON' | translate }}
          </ion-button>
          <ion-button type="button" expand="block" color="primary" (click)="onFacebookLoginClicked()">
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            {{ 'LOGIN_PAGE.FACEBOOK_LOGIN_BUTTON' | translate }}
          </ion-button>
          <ion-button type="button" expand="block" color="warning" (click)="onGoogleLoginClicked()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            {{ 'LOGIN_PAGE.GOOGLE_LOGIN_BUTTON' | translate }}
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>