<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'REGISTER_PAGE.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="onSubmitClicked()" [formGroup]="credentials">
        <ion-item>
          <ion-label position="stacked">
            {{ 'REGISTER_PAGE.EMAIL' | translate }}
          </ion-label>
          <ion-input
            type="email"
            inputmode="email"
            [placeholder]="'REGISTER_PAGE.EMAIL' | translate"
            formControlName="email">
          </ion-input>
          @if ((email.dirty || email.touched) && email.errors) {
            <ion-note slot="error">
              {{ 'REGISTER_PAGE.EMAIL_ERROR' | translate }}
            </ion-note>
          }
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            {{ 'REGISTER_PAGE.PASSWORD' | translate }}
          </ion-label>
          <ion-input
            type="password"
            [placeholder]="'REGISTER_PAGE.PASSWORD' | translate"
            formControlName="password">
          </ion-input>
          @if (password.dirty || password.touched) {
            @if (password.errors?.required) {
              <ion-note slot="error">
                {{ 'REGISTER_PAGE.PASSWORD_GENERIC_ERROR' | translate }}
              </ion-note>
            }
            @if (password.errors?.minlength) {
              <ion-note slot="error">
                {{ 'REGISTER_PAGE.PASSWORD_LENGTH_ERROR' | translate }}
              </ion-note>
            }
          }
        </ion-item>
        <ion-button type="submit" expand="block" strong="true" [disabled]="!credentials.valid">
          {{ 'REGISTER_PAGE.SUBMIT_BUTTON' | translate }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
