<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'PLANNING_PAGE.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'PLANNING_PAGE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ng-container *ngFor="let planned of currentPlanning?.recipes">
        <ion-item [lines]="planned.recipe ? 'inset' : 'none'">
          <ion-label *ngIf="!planned.recipe" class="delimiter">{{ 'COMMON.WEEK_DAYS.' + planned.day | translate }}</ion-label>
          <ion-label *ngIf="planned.recipe">{{ planned?.recipe?.name }}</ion-label>
          <ion-reorder slot="end" *ngIf="planned.recipe"></ion-reorder>
        </ion-item>
      </ng-container>
    </ion-reorder-group>
  </ion-list>

</ion-content>
