<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBackClicked()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'GROUP_MANAGEMENT_PAGE.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (dataLoaded() && group(); as groupData) {
  <section class="ion-padding">
    <h1>{{ 'GROUP_MANAGEMENT_PAGE.LEAVE_GROUP' | translate }}</h1>
    <ion-label>{{ 'GROUP_MANAGEMENT_PAGE.GROUP_ID' | translate }} {{ groupData.id }}</ion-label>
    <ion-list>
      @for (user of groupData.users; track trackByUserId($index, user)) {
      <ion-item> {{ getUserName(user) }} </ion-item>
      }
    </ion-list>
    <ion-button (click)="onLeaveGroupClicked()">
      {{ 'GROUP_MANAGEMENT_PAGE.LEAVE_GROUP_BUTTON' | translate }}
    </ion-button>
    <ion-button (click)="onShareClicked()">
      <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
    </ion-button>
  </section>
  } @if (dataLoaded() && !group()) {
  <p class="ion-padding">{{ 'COMMON.PLANNINGS.NO_GROUP_ERROR' | translate }}</p>

  <div class="ion-padding">
    <p>{{ 'GROUP_MANAGEMENT_PAGE.CREATE_GROUP' | translate }}</p>
    <ion-button (click)="onCreateGroupClicked()">
      {{ 'GROUP_MANAGEMENT_PAGE.CREATE_GROUP_BUTTON' | translate }}
    </ion-button>
  </div>

  <div class="ion-padding">{{ 'GROUP_MANAGEMENT_PAGE.SEPARATOR' | translate }}</div>

  <div class="ion-padding">
    <p>{{ 'GROUP_MANAGEMENT_PAGE.JOIN_GROUP' | translate }}</p>
    <ion-input
      type="text"
      inputmode="text"
      [placeholder]="'GROUP_MANAGEMENT_PAGE.GROUP_ID' | translate"
      [(ngModel)]="newGroupId"
    >
    </ion-input>
    <ion-button [disabled]="!newGroupId || newGroupId.length < 8" (click)="onJoinGroupClicked()">
      {{ 'GROUP_MANAGEMENT_PAGE.JOIN_GROUP_BUTTON' | translate }}
    </ion-button>
  </div>
  }
</ion-content>
