<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'SHOPPING_LIST_PAGE.TITLE' | translate }} </ion-title>
    @if (shoppingList() && shoppingList()!.length > 0) {
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="onExportClicked()">
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'SHOPPING_LIST_PAGE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (shoppingList() !== undefined) { @if (shoppingList()!.length === 0) {
  <ion-label class="ion-padding"> {{ 'SHOPPING_LIST_PAGE.NO_DATA' | translate }} </ion-label>
  } @else {
  <ion-list class="ion-margin-top">
    @for (item of shoppingList(); track trackByIngredient($index, item)) {
    <ion-item>
      <ion-label> {{ item.name }} </ion-label>
      @if (item.quantity.value) {
      <ion-label class="quantity-label">
        {{ item.quantity.value }}{{ item.quantity.unit ? ('COMMON.WEIGHT_UNITS.' +
        item.quantity.unit | translate) : '' }}
      </ion-label>
      } @else {
      <ion-label class="quantity-label"> {{ 'COMMON.MISSING_QUANTITY' | translate }} </ion-label>
      }
    </ion-item>
    }
  </ion-list>
  } }
</ion-content>
