<ion-header>
  <ion-toolbar>
    @if (!isEdit() || selectedRecipe().variantId) {
    <ion-buttons slot="start">
      <ion-button (click)="onBackClicked()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_RECIPE_PAGE.TITLE' | translate }}</ion-title>
    } @if (isEdit() && !selectedRecipe().variantId) {
    <ion-title>{{ 'ADD_RECIPE_PAGE.EDIT_TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancelClicked()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

@if (selectedRecipe(); as recipe) {
<ion-content>
  <ion-list lines="inset" inset="true">
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="{{ 'COMMON.RECIPE' | translate }}"
        [(ngModel)]="recipe.name"
        [placeholder]="'ADD_RECIPE_PAGE.NAME_PLACEHOLDER' | translate"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        labelPlacement="stacked"
        label="{{ 'COMMON.RECIPE_TYPE' | translate }}"
        [(ngModel)]="recipe.type"
        interface="action-sheet"
        [placeholder]="'ADD_RECIPE_PAGE.RECIPE_TYPE_PLACEHOLDER' | translate"
      >
        @for (option of typeList; track trackByOption($index, option)) {
        <ion-select-option [value]="option">
          {{ 'COMMON.RECIPE_TYPES.' + option | translate }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea
        labelPlacement="stacked"
        label="{{ 'COMMON.DESCRIPTION' | translate }}"
        [(ngModel)]="recipe.description"
        [autoGrow]="true"
        [placeholder]="'ADD_RECIPE_PAGE.DESCRIPTION_PLACEHOLDER' | translate"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea
        labelPlacement="stacked"
        label="{{ 'ADD_RECIPE_PAGE.NOTES' | translate }}"
        [(ngModel)]="recipe.notes"
        [autoGrow]="true"
        [placeholder]="'ADD_RECIPE_PAGE.NOTES_PLACEHOLDER' | translate"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'ADD_RECIPE_PAGE.WIP' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="recipe.wip" slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="{{ 'COMMON.CUISINE' | translate }}"
        [value]="recipe.cuisine ? ('COMMON.CUISINE_TYPES.' + recipe.cuisine | translate) : undefined"
        (click)="onAddCuisineClicked()"
        [placeholder]="'COMMON.CUISINE' | translate"
        readonly
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'COMMON.TIME' | translate }}</ion-label>
      <div class="time-row">
        <ion-input
          [(ngModel)]="recipe.time.value"
          type="number"
          [placeholder]="'ADD_RECIPE_PAGE.TIME_QUANTITY_PLACEHOLDER' | translate"
        ></ion-input>
        <ion-select
          [(ngModel)]="recipe.time.unit"
          interface="action-sheet"
          [placeholder]="'ADD_RECIPE_PAGE.UNIT_PLACEHOLDER' | translate"
        >
          @for (option of timeUnitList; track trackByOption($index, option)) {
          <ion-select-option [value]="option">
            {{ 'COMMON.TIME_UNITS.' + option | translate }}
          </ion-select-option>
          }
        </ion-select>
      </div>
    </ion-item>
    <ion-item>
      <ion-select
        labelPlacement="stacked"
        label="{{ 'COMMON.DIFFICULTY' | translate }}"
        [(ngModel)]="recipe.difficulty"
        interface="action-sheet"
        [placeholder]="'ADD_RECIPE_PAGE.DIFFICULTY_PLACEHOLDER' | translate"
      >
        @for (option of difficultyList; track trackByOption($index, option)) {
        <ion-select-option [value]="option">
          {{ 'COMMON.DIFFICULTY_LEVEL.' + option | translate }}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <p class="ion-padding">{{ 'COMMON.INGREDIENTS' | translate }}</p>
  <ion-list lines="inset" inset="true">
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="{{ 'ADD_RECIPE_PAGE.SERVINGS' | translate }}"
        [(ngModel)]="recipe.servings"
        type="number"
        min="1"
        [placeholder]="'ADD_RECIPE_PAGE.SERVINGS' | translate"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="Min Servings"
        [(ngModel)]="recipe.minServings"
        type="number"
        placeholder="Min Servings"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="Split Servings"
        [(ngModel)]="recipe.splitServings"
        type="number"
        placeholder="Split Servings"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-list lines="inset" inset="true">
    @for (selected of recipe.ingredients; track trackByIngredient($index, selected)) {
    <ion-item-sliding>
      <ion-item class="ingredient-item">
        <ion-label class="clickable">
          {{ selected.name || 'ADD_RECIPE_PAGE.INGREDIENTS_PLACEHOLDER' | translate }}
        </ion-label>
        <ion-input
          [(ngModel)]="selected.quantity.value"
          type="number"
          [placeholder]="'ADD_RECIPE_PAGE.INGREDIENTS_QUANTITY_PLACEHOLDER' | translate"
        ></ion-input>
        <ion-label class="clickable space-before" (click)="onIngredientUnitClicked(selected)">
          @if (selected.quantity.unit) {
          <span> {{ 'COMMON.WEIGHT_UNITS.' + selected.quantity.unit | translate }} </span>
          } @else {
          <span> {{ 'ADD_RECIPE_PAGE.UNIT_PLACEHOLDER' | translate }} </span>
          }
        </ion-label>
      </ion-item>
      <ion-item class="brand-item">
        <ion-input
          [(ngModel)]="selected.brand"
          [placeholder]="'ADD_RECIPE_PAGE.BRAND_PLACEHOLDER' | translate"
          size="small"
        >
          <ion-icon slot="start" name="pricetag-outline" color="medium"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item-options
        side="end"
        class="step-container-no-padding"
        (ionSwipe)="onRemoveIngredientClicked($index)"
      >
        <ion-item-option color="danger" expandable (click)="onRemoveIngredientClicked($index)"
          >Rimuovi</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
    }
    <ion-button fill="clear" (click)="onAddIngredientClicked()">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </ion-list>

  <p class="ion-padding">{{ 'COMMON.STEPS' | translate }}</p>
  @for (selected of selectedRecipe().steps; track trackByStep($index)) {
  <ion-item-sliding class="step-item">
    <ion-item>
      <ion-list lines="inset" class="step-inner-list">
        <ion-item>
          <ion-textarea
            [label]="'COMMON.STEP_INDEX' | translate : ({ i: $index + 1 })"
            labelPlacement="stacked"
            [(ngModel)]="selected.text"
            [autoGrow]="true"
            [placeholder]="'ADD_RECIPE_PAGE.DESCRIPTION_PLACEHOLDER' | translate"
          ></ion-textarea>
        </ion-item>
        @if (selected.imageUrl) {
        <ion-item>
          <ion-button fill="clear" size="small" (click)="onRemoveStepImage($index)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
          <img [src]="selected.imageUrl" class="step-image" />
        </ion-item>
        }
        <ion-item class="file-input-item">
          <input type="file" (change)="onStepImageChange($event, selected)" accept="image/*" />
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item-options
      side="end"
      class="step-container-no-padding"
      (ionSwipe)="onRemoveStepClicked($index)"
    >
      <ion-item-option color="danger" expandable (click)="onRemoveStepClicked($index)"
        >Rimuovi</ion-item-option
      >
    </ion-item-options>
  </ion-item-sliding>
  }
  <ion-list lines="inset" inset="true">
    <ion-button fill="clear" (click)="onAddStepClicked()">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
}

<ion-footer class="ion-padding ion-no-border">
  <ion-toolbar>
    @if (isEdit()) {
    <ion-item>
      <ion-label>{{ 'COMMON.VARIANT' | translate }}</ion-label>
      <ion-checkbox
        [checked]="!!selectedRecipe().variantId"
        (ionChange)="onVariantChange($event)"
      ></ion-checkbox>
    </ion-item>
    } @if (!isEdit() || selectedRecipe().variantId) {
    <ion-button
      expand="block"
      (click)="onConfirmClicked()"
      [disabled]="!selectedRecipe().name || !selectedRecipe().servings || selectedRecipe().servings < 1 || (!selectedRecipe().wip && !(selectedRecipe().ingredients.length > 0))"
    >
      {{ 'ADD_RECIPE_PAGE.CONFIRM_BUTTON' | translate }}
    </ion-button>
    } @if (isEdit() && !selectedRecipe().variantId) {
    <ion-button
      expand="block"
      (click)="onConfirmEditClicked()"
      [disabled]="!selectedRecipe().name || !selectedRecipe().servings || selectedRecipe().servings < 1 || (!selectedRecipe().wip && !(selectedRecipe().ingredients.length > 0))"
    >
      {{ 'ADD_RECIPE_PAGE.CONFIRM_EDIT_BUTTON' | translate }}
    </ion-button>
    }
  </ion-toolbar>
</ion-footer>
