.step-item {
  border-radius: 10px;
  margin: 16px;
  width: unset;
  > ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
    ion-list {
      margin: 0;
    }
  }
}

.ingredient-item {
  .clickable {
    pointer-events: all;
  }
  .space-before {
    margin-left: 8vw;
  }
  ion-input {
    text-align: right;
  }
}

.brand-item {
  --padding-start: 16px;
  --min-height: 36px;

  ion-input {
    font-size: 0.85em;
    --color: var(--ion-color-medium);
  }

  ion-icon {
    font-size: 14px;
    margin-right: 4px;
  }
}

ion-footer {
  ion-toolbar {
    --background: transparent;
  }
}
