
.step-container-no-padding {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;
}

.ingredient-item {
    .clickable {
        pointer-events: all;
    }
    ion-input {
        text-align: right;
    }
}

ion-footer {
    ion-toolbar {
        --background: transparent;
    }
}